.iat-page {
  scroll-content {
    overflow-y: hidden;
  }

  .stimuli-concept {
    font-weight: bold;
    font-size: 2.2rem;
  }

  .stimuli-concept-separator {
    font-weight: lighter;
    font-style: italic;
    color: #888;
  }

  .stimuli-concept-left {
    position:fixed;
    left: 8px;
  }

  .stimuli-concept-right {
    position:fixed;
    right: 8px;
  }

  .stimuli {
      height: 100%;
      font-size: 2.8rem;
      font-weight: bold;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      text-align: center;
  }

  .block-instruction {
      height: 100%;
      // font-size: 2.8rem;
      // font-weight: bold;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      // justify-content: center;
      width: auto;
      // text-align: center;
  }

  .error {
    font-size: 2.8rem;
    font-weight: bold;
    position: fixed;
    top: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
