<ion-content padding class="i-a-t-page">

  <div text-left class="stimuli-category stimuli-category-left">
    {{testBlocks[currentBlock].leftCategories.first}}<br>
    <div *ngIf="testBlocks[currentBlock].leftCategories.second">
      <div class="stimuli-category-separator">eller</div>
      {{testBlocks[currentBlock].leftCategories.second}}
    </div>
  </div>

  <div text-right class="stimuli-category stimuli-category-right">
    {{testBlocks[currentBlock].rightCategories.first}}<br>
    <div *ngIf="testBlocks[currentBlock].rightCategories.second">
      <div class="stimuli-category-separator">eller</div>
      {{testBlocks[currentBlock].rightCategories.second}}
    </div>
  </div>

  <div class="stimuli">
    {{currentStimuli.word}}
  </div>

  <button fab fab-bottom fab-center clear *ngIf='showError'>
    ERROR
  </button>

  <button fab fab-left fab-bottom dark outline (click)="leftPress()">
    <ion-icon name="arrow-round-back"></ion-icon>
  </button>
  <button fab fab-right fab-bottom dark outline (click)="rightPress()">
    <ion-icon name="arrow-round-forward"></ion-icon>
  </button>

</ion-content>
