.iat-page {
  scroll-content {
    overflow-y: hidden;
  }

  .stimuli-category {
    font-weight: bold;
    font-size: 2.2rem;
  }

  .stimuli-category-separator {
    font-weight: lighter;
    font-style: italic;
    color: #888;
  }

  .stimuli-category-left {
    position:fixed;
    left: 8px;
  }

  .stimuli-category-right {
    position:fixed;
    right: 8px;
  }

  .stimuli {
      height: 100%;
      font-size: 2.8rem;
      font-weight: bold;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      text-align: center;

  }
}
