.getting-started {
  scroll-content {
    background-image: url("../../img/whirl.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    padding-top: 10%;
  }

  button {
    margin-top: 12px;
  }

  .bw-button {
      color: #000;
      border-color: #000;
      border-width: 2px;
      border-style: solid;
      border-radius: 6px;
      box-shadow: none;
  }
}
