.getting-started {
  scroll-content {
    overflow-y: auto;

    background-image: url("../../img/whirl.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  img {
    padding-top: 10%;
  }

  button {
    margin-top: 12px;
    font-family: 'Passion One';
    font-weight: 400;
    font-size: 2.0rem;
    letter-spacing: 0.1rem;
  }
}
