.training-intro {
    ion-slide {

      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      //align-content: flex-start | flex-end | center | space-between | space-around | stretch;
    }

    scroll-content {
      overflow-y: hidden;
    }

    .intro-content {
      position: absolute;
      top: 30%
    }

    .next-nav {
      position: absolute;
      bottom: 25%
    }

    .never-again-checkbox {
      position: absolute;
       bottom: 10%
     }

    .skip-row {
      position: fixed;
      top: 0px;
      text-align: right;
    }


}
