.training-page {

  scroll-content {
    background-image: url("../../img/zigzag.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  ion-card {
    text-align: center;
    background-color: #dbf7e5;

    border-color: #000;
    border-width: 3px;
    border-style: solid;
    border-radius: 8px
  }

  scroll-content {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ee42d1;
  }

  ion-card-title {
    font-family: 'Passion One';
    letter-spacing: 0.1rem;
    font-weight: 400;
    font-size: 4.0rem;
    padding: 0px;
  }

  .img-padding {
    padding: 10px 10px 0px 10px;
  }

  img {
    border-color: #000;
    border-width: 2px;
    border-style: solid;
    border-radius: 4px;
  }

  $correct-color: #0ee800;
  $wrong-color:   #ff052b;

  .tap-result-correct {
    background-color: $correct-color;
  }

  .tap-result-wrong {
    background-color: $wrong-color;
  }

  .instruction {
      height: 100%;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      width: auto;
  }
}
