<ion-content style="training-page">
  <audio autoplay="autoplay" *ngIf="playSound && showResult && correctResponse">
    <source src="sound/Sound_2.mp3" type="audio/mp3">
  </audio>

  <ion-card [ngClass]="{'tap-result-correct' : showResult && correctResponse, 'tap-result-wrong' : showResult && !correctResponse}" (click)="tap()" *ngIf="showCard">
    <div class="img-padding">
      <img src="{{current.image}}"/>
    </div>
    <ion-card-content>
      <ion-card-title>
        {{current.word.toUpperCase()}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
