<ion-navbar *navbar>
</ion-navbar>
<ion-content>
  <audio autoplay="autoplay" *ngIf="showResult && correctResponse">
    <source src="sound/Sound_2.mp3" type="audio/mp3">
  </audio>
  <ion-card (click)="tap()" *ngIf="showCard">
    <img src="{{current.image}}"/>
    <ion-card-content [ngClass]="{'tap-result-correct' : showResult && correctResponse, 'tap-result-wrong' : showResult && !correctResponse}">
      <ion-card-title>
        {{current.topic}}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
