// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import "globals.core";

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  // primary:    #387ef5,
  primary: #00CC33,
  secondary:  #32db64,
  danger:     #f53d3d,
  //light:      #f4f4f4,
  light: #ED68ED,
  dark:       #222,
  favorite:   #69BB7B,
);

//$item-md-divider-color: #ff0000;
$item-md-divider-background: #A530A5;
//$item-md-note-color: #f00;
//$list-md-activated-background-color: #f00;
//$list-text-color: #f00;
$toggle-md-track-background-color-off: #8D188D;
$toolbar-md-title-text-color: #000;
$toolbar-background: #8D188D;
$list-md-border-color: #AD38AD;
$list-md-background-color: #AD38AD;
$toggle-md-handle-background-color-off: darken($toggle-md-track-background-color-off, 11%);

$toolbar-md-title-font-size: 2.6rem;
$button-md-font-size:	2.0rem;
