// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/start-page/start-page";

@import "../pages/training/training";
@import "../pages/training/result";
@import "../pages/training/intro";

@import "../pages/iat/iat";
@import "../pages/iat/result";

@import "../pages/settings/settings";


@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  src: local('Passion One'), local('PassionOne-Regular'), url('../../fonts/PassionOne-Regular.tff') format('truetype');
}
@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 700;
  src: local('Passion One Bold'), local('PassionOne-Bold'), url('../../fonts/PassionOne-Regular.tff') format('truetype');
}

button {
  font-family: 'Passion One';
  letter-spacing: 0.1rem;
}

scroll-content {
  overflow-y: auto;
}

ion-navbar {
  background-color: #0f0;
  font-family: 'Passion One';
  letter-spacing: 0.1rem;
  font-weight: 400;
}
